.imagen1{
    height:350px;
    width: 313px;
    margin-left: 68px;
}

.imagen2{
    height:350px;
    width: 317px;
    margin-left: 67px;
}

.imagen3{
    height:339px;
    width: 248px;
    margin-left: 140px;

}
.imagen4{
    height:325px;
    width: 329px;
    margin-left: 60px;

}